.img-logo {
    width: 30%;
}

.card-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 400px;
    background: rgba(234, 201, 38, 0.85);
    backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
}

.input-contenedor {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #000;
}

.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-20%);
    color: #000000;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.6s;
    font-weight: bold;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #fff;
}

.create-account-button {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
}

.create-account-button:hover {
    opacity: 0.9;
}