<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a854d005c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="\css\style.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="header1">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo" class="logo">
            <div class="inputContainer">
                <input type="text" class="form-control" placeholder="Buscar productos">
                <button class="btn btn-outline-secondary" type="button"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="btnInfo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <div class="header2">
            <nav>
                <ul class="list1">
                    <li><a href="#" class="link">Ofertas</a></li>
                    <li><a href="#" class="link">Tiendas Oficiales</a></li>
                    <li><a href="#" class="link">Vender</a></li>
                    <li><a href="#" class="link">Ayuda</a></li>
                </ul>
            </nav>

            <nav>
                <ul class="list2">
                    <li><a href="/registro">Crea tu cuenta</a><i class="fa-solid fa-user"></i></li>
                    <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
        </div>

        <div class="desktopHidden">
            <button class="btn-menu">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>

    <main>
        <section class="banner">
            <img src="/img/img-home-banner.jpg" alt="Banner" class="slider">
        </section>

        <h2>Basado en tu última visita</h2>

        <section class="products">
            
            <article class="card">
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <hr>
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                <p class="description"><strong>Cafetera Moulinex</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                </div>
                <p class="description"><strong>MacBook Pro 2019</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                </div>
                <p class="description"><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Televisor">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                </div>
                <p class="description"><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>

        <div>
            <h2>Sección de Ofertas</h2>
        </div>

        <section class="products">
            <article class="card">
                <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                <p class="description"><strong>Cafetera Moulinex</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                </div>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                </div>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>

            <article class="card">
                <img src="/img/img-tv-samsung-smart.jpg" alt="Televisor">
                <div class="card-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$23.200</p>
                    <p>5% OFF</p>
                </div>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
    </main>

    <footer>
        <section class="infoFooter">
            <article class="description-footer">
                <i class="fa-solid fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre
                    es seguro!</p>
            </article>
            <article class="description-footer">
                <i class="fa-solid fa-gift"></i>
                <h4>Envíos gratis desde $2500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </article>
            <article class="description-footer">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin.</h4>
                <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </section>

        <section class="final-footer">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>

</body>

</html>