<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a854d005c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="\css\style.css">
    <title>Mercado Liebre - Registro</title>
</head>
<body>
    <header class="header">
        <div class="header1">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo" class="logo">
            <div class="inputContainer">
                <input type="text" class="form-control" placeholder="Buscar productos">
                <button class="btn btn-outline-secondary" type="button"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="btnInfo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
    </header>
</body>
</html>